#grid_wrapper{
    width: 100%;
    border: 1px solid #cccccc;
}
#grid_pagination{
    background-color: #F5F5F5;/*#999999;*/ /*#222222;*//*#F0F0F0; */
}

#grid_pagination .pagination{
    position: relative;
    margin: 0;
}

table.table-list th {
    /*background: linear-gradient(#FFFFFF, #EFEFEF) repeat scroll 0 0 transparent;
    color: #333333;
    text-align: center;
    border-collapse: collapse;*/
    
    background: none repeat scroll 0 0 #E5E5E5;
    border: 1px solid #CCCCCC;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 3px 3px;
    text-shadow: 0 1px 0 #FFFFFF;
    vertical-align: middle;
}
table.table-list tbody tr:nth-child(2n) td, .detailtable tbody tr.even td {
    background-color: #F7F7F7;
}
table.table-list tr:hover td, table.table-list tr:hover td, table.table-list tr.rowdeleted:hover td {
    background-color: #FFFAE3;
}

table td.field_label{
    background-color :#E5E5E5;
    border-bottom : 1px solid #CCCCCC;
    border-shadow: 0 1px 0 #FFFFFF;
    padding: 2px 20px 2px 20px;
    text-shadow: 0 1px 0 #FFFFFF; 
}
.left_column {
    background-color: #CAE2EE !important;
    border-collapse: collapse;
    color: #333333;
    font-weight: bold;
    height: 22px;
    padding: 0 4px;
    vertical-align: middle;
}
.widefat {
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    border-spacing: 0;
    clear: both;
    margin: 0;
    color: #000000;
}

.widefat td, .widefat th {
    background: none repeat scroll 0 0 #E5E5E5;
   /* border-bottom :1px solid #DFDFDF;*/
    border-top:1px solid #FFFFFF;
}

.widefat td {
    font-size: 12px;
    padding: 4px;
    vertical-align: top;
}
table.tb_soal p{
    margin: 0;
}
table.tb_jawaban td{
    border:none;
}