
/*html,body{height:100%}   */
body{
    /*color:#444;*/
    background:#eaeaea; 
    margin: 0;
    font:13px/1.8 Calibri,Arial,sans-serif;
    /*background: url("../images/login_bg.jpg") repeat scroll 0 0 #F7F7F7;*/
}
input,button,select,textarea{
    font:12px/15px Calibri,Arial,sans-serif
}

/*p{margin-bottom:20px}*/
/*p:last-child{margin-bottom:0}*/
a{color: #0B55C4;;text-decoration: none;}
a:hover{color: #0B55C4;;text-decoration:underline;}
h1,h2{font-weight:normal}
h1{font-size:24px;margin: 0;}
h2{font-size:18px}
h3{font-size:17px}
h4{font-size:16px}
h5{font-size:15px}
h6{font-size:14px}
h3,h4,h5,h6{margin-bottom:.7em}
.floatLeft{float:left}
.floatRight{float:right}
.alignright{text-align:right}

.WorkHeader {
    background: none repeat scroll 0 0 #01789c;/*#00aadd;*//*#222222;*/
    border-top: 1px solid #CCCCCC;
    font-size: 14px;
    height: 37px;
    width: 100%;
    /*clear: both;*/
    margin-top: 0;
    display: block;
    
    box-shadow: 2px 2px 6px #CCCCCC;
    /*-moz-box-shadow:    inset 1px 0 1px #000000;
    -webkit-box-shadow: inset 1px 0 1px #000000;
    box-shadow:         inset 1px 0 1px #000000;*/
}

ul.topnav {
    font-size: 14px;
    list-style: none outside none;
    margin: 0;
    padding:12px 0 0px 0px;
    z-index: 10;
    position: static;
    direction: ltr;
    display: block;
    line-height: normal;
}
ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 20px 0 0;
    position: relative;
}
ul.topnav li a {
    color: #FFFFFF;/*#3A3A3A;#E0E0E0;*/
    float: left;
    /*font-weight: bold; */
    padding: 1px 5px 5px;
    text-decoration: none;
}
ul.toprightnav {
    font-size: 14px;
    list-style: none outside none;
    margin: 0;
    padding-top:12px;
    z-index: 10;
    position: static;
    direction: ltr;
    /*display: block;*/
    line-height: normal;
}

ul.toprightnav li {
    float: left;
    margin: 0;
    padding: 0 20px 0 0;
}

ul.toprightnav li a {
    color: #FFFFFF;/*#3A3A3A;#E0E0E0;*/
    text-decoration: none;
}
ul.subnav {
    background: none repeat scroll 0 0 rgba(34, 34, 34, 0.9);
    border: 1px solid #161616;
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: absolute;
    top: 25px;
    z-index: 5;
}
/*ul.topnav li{
    margin: auto;
    padding-right : 20px;
}  */

ul.subnav li{
    padding: 5px 5px;
    width: 100%;
}

ul.subnav li a {
    color: #E0E0E0;
    float: left;
    /*font-weight: bold;*/
    padding: 1px 5px 5px;
    text-decoration: none;
}

ul.leafnav {
    background: none repeat scroll 0 0 rgba(34, 34, 34, 0.9);
    border: 1px solid #161616;
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: absolute;
    left: 200px;
    top: 25px;
    z-index: 5;
}

.clearFix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearFix {
    min-height: 1px;
}
#wrapper {
    margin: 0 auto;
    width: 1010px;
}
#header{
    background-color: #FFFFFF;
    height: 60px;
}
#logo-left{
    /*background: url("../images/logo/logo.jpg") no-repeat scroll 0 0 transparent;*/
    display: inline-block;
    margin: 0px 0 5px 10px;
    width: 330px !important;
    height: 60px !important;
}
#logo-right{
    display: inline-block;
    margin:0;
    /*width: 250px !important;*/
    height: 60px !important;
}

#header p {
    color: #16347A;
    font-size: 16px;
    line-height: 1;
}


#header .title-name {
    display: inline-block;
    margin-left: 5px;
    position: absolute;
    font-family: Calibri,Arial;
}

.SideItem {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    float: left;
    margin: 15px 0;
    padding: 15px;
    width: 978px;
    box-shadow: 2px 2px 6px #CCCCCC;
}


.LoginBox {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 6px #CCCCCC;
    margin  : auto;
    margin-top  : 50px;
    padding: 15px;
    width: 300px;
}

.ViewTitle {
    /*border-bottom: 1px solid #00AADD;
    color: #647287;*/
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    height: 40px;
    /*margin-bottom: 15px;*/
}
.filterTable {
    /*background: none repeat scroll 0 0 #F2F9FF;
    border: 1px solid #BFE3FF;
    border-radius: 4px 4px 4px 4px;
    padding: 5px;
    margin-bottom: 10px; */
    
    background-color:#d8e4e0;
    border:1px solid #a7bcbe;
    margin-bottom:10px;
    padding:3px;
}
.DivPanel {
    border-bottom: 1px solid #00AADD;
    color: #647287;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.SM {
    background-color: #4F4D4D;
    background-image: none;
    border-color: #4F4D4D;
    border-style: solid;
    border-width: 0;
    padding: 8px 0;
    top: -9999px;
    position: absolute;
    z-index: 11111;
}
.DivButton {
    /*background: none repeat scroll 0 0 #E3E3E3;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px 1px #F6F6F6 inset;
    color: #333333;*/
    cursor: pointer;
    font: bold 12px/1 "helvetica neue",helvetica,arial,sans-serif;
    height: 20px;
    /*padding: 8px 10px 9px;*/
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    margin-left: 3px;
    margin-top: -10px;
    float: right;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #999999;
    padding: 3px 0 3px;
}

table.toolbar a {
    border: 1px solid #FBFBFB;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 9px;
    padding: 1px 5px;
    margin-bottom: 5px;
    text-decoration: none;
    white-space: nowrap;
}
table.toolbar a:hover {
    background-color: #FFFFCC;
    border-color: #EEEEEE #CCCCCC #CCCCCC #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-style: solid;
    border-width: 1px;
    color: #0B55C4;
    text-decoration: none;
}
table.toolbar td {
    color: #666666;
    height: 48px;
    padding: 1px;
    text-align: center;
}

.inline-form{
    width: 100%;
    display: none;
}

/*BUTTON*/
.btn-add {
    background: url("../images/icons/add.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px !important;
    width: 16px !important;
}
.btn-edit {
    background: url("../images/icons/edit.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px !important;
    width: 16px !important;
}
.btn-delete {
    background: url("../images/icons/delete.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px !important;
    width: 16px !important;
}
.btn-tag {
    background: url("../images/icons/bookmarks.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px !important;
    width: 16px !important;
}
.btn-key {
    background: url("../images/icons/key.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px !important;
    width: 16px !important;
}
.btn-user {
    background: url("../images/icons/user.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px !important;
    width: 16px !important;
}
.btn-block {
    background: url("../images/icons/block.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px !important;
    width: 16px !important;
}
.btn-tick {
    background: url("../images/icons/tick.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px !important;
    width: 16px !important;
}
.btn-bullet_go {
    background: url("../images/icons/bullet_go.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px !important;
    width: 16px !important;
}

.main-toolbar{
    float: none; 
    width: 24px; 
    height: 24px; 
    margin: 0 auto;
    margin-bottom: 5px; 
    display: block;    
}
.icon-24-add{background: url(../images/icons24/data_add.png)no-repeat scroll 0 0 transparent; }
.icon-24-refresh{background: url(../images/icons24/refresh.png)no-repeat scroll 0 0 transparent; }
.icon-24-save{background: url(../images/icons24/data_disk.png)no-repeat scroll 0 0 transparent; }

/*PAGING*/
.pagination {
    display: block;
    float: left;
    position:absolute;
    padding-left: 0;
}

.pagination li {
    display: inline;
}
.pagination li a {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #466896;
    display: inline;
    padding: 5px;
}
.pagination li a:hover, .pagination li.active {
    background: none repeat scroll 0 0 #C22A25;
    color: #FFFFFF;
    padding: 5px;
}

/*LABEL*/
.label {
    background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 3px 3px 3px 3px;
}
.label:empty, .badge:empty {
    display: none;
}
a.label:hover, a.label:focus, a.badge:hover, a.badge:focus {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.label-important, .badge-important {
    background-color: #B94A48;
}
.label-important[href], .badge-important[href] {
    background-color: #953B39;
}
.label-warning, .badge-warning {
    background-color: #F89406;
}
.label-warning[href], .badge-warning[href] {
    background-color: #C67605;
}
.label-success, .badge-success {
    background-color: #468847;
}
.label-success[href], .badge-success[href] {
    background-color: #356635;
}
.label-info, .badge-info {
    background-color: #3A87AD;
}
.label-info[href], .badge-info[href] {
    background-color: #2D6987;
}
.label-inverse, .badge-inverse {
    background-color: #333333;
}
.label-inverse[href], .badge-inverse[href] {
    background-color: #1A1A1A;
}